<Collection name="GEPTableContainer" merge="fuse" lock="false" propagate="true" advanced="false">
<String name="title" value="Grid Engine Portal" merge="replace" lock="false" propagate="true" advanced="false"/>
<String name="desc" value="Grid Engine Portal Page" merge="replace" lock="false" propagate="true" advanced="false"/>
<Boolean name="removable" value="true" merge="replace" lock="false" propagate="true" advanced="false"/>
<Boolean name="renamable" value="true" merge="replace" lock="false" propagate="true" advanced="false"/>
<Boolean name="predefined" value="true" merge="replace" lock="false" propagate="true" advanced="false"/>
</Collection>
