<!-- Copyright 02/15/00 Sun Microsystems, Inc. All Rights Reserved. "@(#)login_template.html	1.15 00/02/15 Sun Microsystems" -->
<HTML>
<HEAD>
<TITLE>Login</TITLE>
</HEAD>
<BODY BGCOLOR="#ffffff"
background="/images/IMB_bg2.jpg">


<subst data="XXspecialXX"></subst>

<FORM ACTION=<subst data="XmoduleX">"/login/logout"</subst> METHOD="POST" ENCTYPE="application/x-www-form-urlencoded"
NAME="login_form2" TARGET="_top">

<TABLE WIDTH="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0">
        <TR>
                <TD COLSPAN=5 BGCOLOR="#000099">&nbsp;</TD>
        </TR>
        <TR>
                <TD COLSPAN=3 BGCOLOR="#000099"><IMG ALIGN=left SRC=<subst data="XimageheaderX">"/images/productName.gif"</subst> ></TD>
                <TD COLSPAN=1 BGCOLOR="#000099"><IMG ALIGN=right SRC=<subst data="XimageheaderX">"/images/ipsLogoSmallBW.gif"</subst> ></TD>
                <TD COLSPAN=1 BGCOLOR="#000099">&nbsp;</TD>
        </TR>
        <TR> 
                <TD COLSPAN=5 BGCOLOR="#000099">&nbsp;</TD>
        </TR>
        <TR>
                <TD COLSPAN=4 BGCOLOR="#000000"><IMG ALIGN=right SRC="/images/SNAWhite.gif"></TD>
                <TD COLSPAN=1 BGCOLOR="#000000">&nbsp;</TD>
        </TR>
</TABLE>

<TABLE WIDTH="100%" BORDER="0" CELLPADDING="8" CELLSPACING="4">
   <TR><TD WIDTH="35%"><IMG ALIGN="CENTER" SRC=<subst data="XimageX">"/images/protein-trans.gif"</subst></TD>
       <TD WIDTH="65%">

   <FONT COLOR="#FFFFFF">
   <H2>This is a restricted access server</H2>
   <P><HR><BR></P>
   <subst data="XtokensX">Fatal error</subst>
   </FONT>

   </TD></TR>
</TABLE>

<INPUT TYPE="HIDDEN" NAME="TIMESTAMP" VALUE="<subst data="XnocacheX">0</subst>">

</FORM>
</BODY>
</HTML>
