
jgdi {
   com.sun.security.auth.module.KeyStoreLoginModule required 
                                                    keyStoreURL="file:./keystore"
                                                    debug=false;
};

Blub {
    com.sun.security.auth.module.UnixLoginModule required
        authzIdentity=controlRole
        useSSL=false;
};

GridwareConfig {
    com.sun.security.auth.module.LdapLoginModule REQUIRED
        userProvider="ldap://sun-ds/ou=people,dc=sun,dc=com"
        userFilter="(&(uid={USERNAME})(objectClass=inetOrgPerson))"
        authzIdentity=controlRole
        useSSL=false;
};
